.banner {

  &__container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background: $color__primary;
    padding: 1rem 0;
  }

  &__image {
    display: flex;
    max-width: 100%;
    width: 300px;
    min-width: 300px;
    margin: 0 0.5rem;

    & img {
      object-fit: cover;
    }
  }

}