.page-section {

  padding-top: 6rem;
  padding-bottom: 6rem;

  &--bg-grey {
    background: $color__grey;
  }

  &__image img {
    max-width: 375px;
  }

  &__content>div {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__content--alternate-layout>div:nth-child(even) {
    flex-direction: row-reverse;

    .page-section__image {
      display: flex;
      justify-content: flex-end;
    }
  }
}