.post-card {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0;

    @include breakpoint(740px) {
      grid-template-columns: repeat(auto-fit, 330px);

      .post-card:last-child {

        grid-column: 1 / -1;
        margin: 0 auto;
      }
    }

    @include breakpoint(1118px) {
      .post-card:last-child {
        grid-column: auto;
        margin: 0;
      }
    }
  }

  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.16);
  background: $color__white;
  max-width: 330px;
  border-radius: 4px;

  &__img {
    img {
      display: block;
      border-radius: 4px 4px 0 0;
    }
  }

  &__content {
    padding: 2rem;
    min-height: 175px;
    border-radius: 0 0 4px 4px;
  }

  a {
    text-decoration: none;
  }
}