.primary-nav {

  margin-left: auto;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 2rem;
  }

  a {
    color: $color__black;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 300;


    &:hover,
    &:active {
      color: $color__secondary;
    }

    &.current-item {
      color: $color__secondary;
    }
  }


}