.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;

  &>.container {
    padding: 0;
  }

  &--y-center {
    display: flex;
    align-items: center;
    min-height: inherit;
    height: inherit;
  }
}

.ml-auto {
  margin-left: auto;
}
