.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;

  &>.container {
    padding: 0;
  }
}

.d-flex {
  display: flex;
  min-height: inherit;
  height: inherit;


  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }
}

.ml-auto {
  margin-left: auto;
}