.container {
  max-width: 77rem;
  padding: 0 1rem;
  margin: 0 auto;

  &--narrow {
    max-width: 64.5rem;
  }

  &>.container {
    padding: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  & [class^=row] {
    padding: 1rem;
  }

  &__4 {
    flex: 1 1 33.33%;
  }

  &__6 {
    flex: 1 1 50%;
  }


  &__8 {
    flex: 1 1 66.66%;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

